@font-face {
  font-family: 'Pagella';
  src: url('images/fonts/pagella-regular.woff2') format('woff2'),
       url('images/fonts/pagella-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pagella';
  src: url('images/fonts/pagella-italic.woff2') format('woff2'),
       url('images/fonts/pagella-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Pagella';
  src: url('images/fonts/pagella-bold.woff2') format('woff2'),
       url('images/fonts/pagella-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pagella';
  src: url('images/fonts/pagella-bolditalic.woff2') format('woff2'),
       url('images/fonts/pagella-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}